*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 100vw;
    height: 100vh; 
    background: linear-gradient(to left, #8e0e00, #6b1b19); 

}


.section-center{
    height:100%;
    max-width: 500px;
    min-width: 400px;
    margin: auto;
}
.form-group{
    margin-top: 18vh ;
}
.card-form-add{
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.form-control{
    display: block;
    max-width: 99.3%;
    width: 80%;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    border: white 0px solid;
    border-radius: 5px;

}
.div-done{
    padding-left: 0px;
   
}
.btn-form{
    max-width: 99.3%;
    width: 83%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    background: linear-gradient(to left, #11998e, #38ef7d);
    border: white 0px solid;
    border-radius: 5px;
}
.btn-form:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.btn-danger{
    background: linear-gradient(to left, #ed213a, #93291e);
    text-align: center;
    color: black;

}
#done{
    transform: scale(1.6);
    margin-right: 10px;
    
  }
#done:hover{
      cursor: pointer;
  }