*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(to right, #000428, #004e92);  */
    /* background: linear-gradient(to right, #141e30, #243b55); */
    
    background: linear-gradient(to left, #8e0e00, #1f1c18); 
    /* background: linear-gradient(to left, #fe8c00, #f83600);  */

}
.main-container-home{
    padding: 0px 10px;
}

.items-container{
    display: flex;
    flex-wrap: wrap;
}

.card-item{
    width: 115px;
    height: 115px; background: linear-gradient(to right, #000428, #004e92);
    padding: 5px;
    background: linear-gradient(to right, #89fa4c, #26d09d); 
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: black  2px 2px 5px ;
    border-radius: 50px;
}
.items-container .card-item:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.items-container .d0{
    
    background: linear-gradient(to left, #e43a15, #e65245) !important;

}
.title h1{
    text-align: center;
    text-shadow: #48967f 1px 1px 5px;
    font-size: 50px;
}
.div-name{
    background-color: rgba(26, 235, 190, 0.159);
   
    /* margin-top: 40px; */
    padding: 5px;
    overflow: auto;
    
}
.div-name h4{
    /* background-color: red; */
    width: 455px;
    padding-top: 3px;
    height: 20px;
    max-height: 20px;
    /* background-color: #1cefff; */
}
.scroll-v{ 
    margin-top: 40px;
    height: 33px;

    overflow-y: hidden;


    }




    